extends layout

block content
  div(class="hero-image")
    div(class="hero-content")
      div(class="hero-content-inner")
        h1 Welcome to Motospot
        p(id="hometext") Easily find information about your favorite bike.

        button(type="button" onclick="window.location.href='/catalog/search'") Find a model