extends layout

block content
  div(class="hero-image")
    div(class="search-content")
      div(class="search-content-inner")
          h1 Search

          input(type="text" id="search-box" onkeyup="sendData(this)")
          section(id="searchResults")

