*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
*::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    background-color: black;
}
body{
    font-family: montserrat, sans-serif;
    padding-top: 80px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* navigation bar start --> */

nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
.fixed-navbar {
    position: fixed;
    top: 0; bottom: 80px; left: 0; right: 0;
    z-index: 9999;
}
.logoA {
    color: white;
    font-size: 35px;
    line-height: 80px;
    margin-left: 80px;
    padding: 10px 10px;
    font-weight: bold;
}
nav .navlist{
    float: right;
    margin-right: 20px;
    overflow-y: scroll;
}
nav .navlist .navitem{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav .navlist .navitem .navanchor{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.hero-image {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    text-align: center;
    background: url(../images/background-image-1080p.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.hero-image::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.hero-content {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 80px auto;
}
.hero-content-inner {
    /*height: min(100vh - 80px, 100%);*/
    width: 600px;
    height: 100%;
    margin: 80px auto 80px auto;
    overflow: hidden;
    overflow-y: scroll;
}
.hero-content-inner h1 {
    width: 580px;
    font-size: 50px;
    color: #ffffff;
    margin: 20px auto 10px auto;
}
.hero-content-inner h2 {
    width: 580px;
    font-size: 50px;
    color: #ffffff;
    margin: 10px auto 10px auto;
}
.hero-content-inner p {
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
    font-weight: normal;
    color: rgb(255, 117, 24);
    /*line-height: 22px;*/
}
#hometext {
    width: 90%;
    margin: 20px auto;
    font-size: 22px;
    font-weight: normal;
    color: rgb(255, 117, 24);
    /*line-height: 22px;*/
}
.hero-content-inner a {
    font-size: 36px;
    color: #ffffff;
    text-shadow: 1px 0 #0082e6, -1px 0 #0082e6, 0 1px #0082e6, 0 -1px #0082e6,
    1px 1px #0082e6, -1px -1px #0082e6, 1px -1px #0082e6, -1px 1px #0082e6;
}
.hero-content-inner li {
    width: 100%;
    font-size: 36px;
    color: #ffffff;
    /*text-shadow: 1px 0 #0082e6, -1px 0 #0082e6, 0 1px #0082e6, 0 -1px #0082e6,*/
    /*1px 1px #0082e6, -1px -1px #0082e6, 1px -1px #0082e6, -1px 1px #0082e6;*/
}
.hero-content-inner .modelinfo {
    margin: 10px auto 20px auto;
}
.hero-content-inner button {
    width: 170px;
    height: 50px;
    margin-top: 40px;
    border-radius: 50px;
    outline: none;
    font-size: 16px;
    text-transform: capitalize;
    background-color: #fc5f00;
    color: #000000;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border: 2px solid transparent;
    cursor: pointer;
    transition: all ease 0.2s;
}
.hero-content-inner button:hover {
    border-color: white;
    color: white;
    background: transparent;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: white;
    margin-top: auto;
}
.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials {
    width: 80vw;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li {
    margin: 0 10px;
}
.socials a {
    text-decoration: none;
    color: white;
}
.socials a i {
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i {
    color: aqua;
}
.socialIcon {
    padding: 10px;
    width: 100px;
    height: auto;
}
.socialIcon {
    padding: 10px;
    width: 100px;
    height: auto;
}.socialLink:hover {
     background: none;
 }
.footer-bottom {
    background: black;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 200;
}
#play:hover {
    background: none;
}
#logo {
    width: 100px;
    height: auto;
}

/* New added */
.linkedText {
    color: white;
    padding: 2px;
    margin: 2px;
    font-size: 30px;
}
.infoText {
    color: white;
    padding: 2px;
    margin: 2px;
    font-size: 25px;
}
.linkedList {
    padding: 2px;
    margin: 2px;
    font-size: 30px;
}
.linkedParagraph {
    color: white;
    padding: 12px;
    margin: 2px;
    font-size: 30px;
}

iframe {
    padding: 10px;
    margin: auto;
}
.emptyList {
    padding: 12px;
    margin: 12px;
    font-size: 30px;
    line-height: 30px;
}
.formText {
    color: white;
    padding: 2px;
    margin: 2px;
    font-size: 30px;
}
.selectText {
    color: white;
    padding: 2px;
    margin: 2px;
    font-size: 20px;
}

/* Weather */
.weather-content {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: normal;
    margin: 0 auto 80px auto;
}
.weather-content-inner {
    width: 100%;
    height: 100%;
    margin: 80px auto 80px auto;
    overflow: hidden;
    overflow-y: scroll;
}
.weather-content-inner h1 {
    width: 580px;
    font-size: 50px;
    color: #ffffff;
    margin: 20px auto 10px auto;
}
.weather-content-inner p {
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
    font-weight: normal;
    color: white;
}
.reference {
    display: block;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
    font-size: 12px;
    font-weight: normal;
    color: white;
}

.videocontainer {
    /*width: min(560px, 100%);*/
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.ytframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Search menu */
.search-content {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 80px auto;
}
.search-content-inner {
    width: 600px;
    height: 100%;
    margin: 80px auto 80px auto;
    overflow: hidden;
    overflow-y: scroll;
}
.search-content-inner h1 {
    width: 580px;
    font-size: 50px;
    color: white;
    margin: 50px auto 0 auto;
}
.search-content-inner p {
    width: 75%;
    margin: 0 auto;
    /*font-size: 16px;*/
    font-weight: normal;
    color: white;
    /*line-height: 22px;*/
}
.search-content-inner hr {
    border: none;
}
#searchResults {
    max-width: 600px;
    width: 95%;
    margin: 20px auto 0 auto;
}
#search-box {
    display: block;
    margin: 40px auto 0 auto;
    padding: 10px 20px;
    max-width: 600px;
    width: 95%;
    border-radius: 10px;
}
.search-content-inner button, #search-box, textarea {
    font-family: inherit;
    font-size: 100%;
}
.searchsuggestion {
    font-size: 30px;
    color: white;
    margin: 12px auto;
    padding: 12px;
}
.searchDiv {
    padding: 4px;
    margin: 2px;
}
.linkedText {
    color: white;
    font-size: 30px;
}

/* Cookies */
.cookiewrapper {
    visibility: hidden;
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: white;
    max-width: 365px;
    border-radius: 15px;
    text-align: center;
    padding: 25px 25px 30px 25px;
}
.cookiewrapper2 {
    visibility: hidden;
    position: absolute;
    bottom: 30px;
    left: 30px;
    background: white;
    max-width: 365px;
    border-radius: 15px;
    text-align: center;
    padding: 25px 25px 30px 25px;
}
.cookiewrapper.hide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}
.cookiewrapper img {
    max-width: 90px;
}
.cookiewrapper .cookiecontent {
    margin-top: 10px;
}
.cookiecontent header {
    font-size: 25px;
    font-weight: 600;
}
.cookiecontent p {
    color: #858585;
    margin: 5px 0 20px 0;
}
.cookiecontent .cookiebuttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.cookiebuttons .cookieitem {
    margin: 0 10px;
}
.cookiebuttons button {
    padding: 10px 20px;
    background: #ff7518;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.cookiebuttons a {
    color: #ff7518;
}

/* Cookie policy */
.policy-image {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    text-align: center;
    background: url(../images/background-image-1080p.jpg) no-repeat center center;
    background-size: cover;
    overflow: hidden;
}
.policy-image::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}
.policy-content {
    color: white;
    position: relative;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: min(100vh - 80px, 100%);
    margin: 0 auto 100px auto;
    overflow: auto;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.8);
}
.policy-content-inner {
    height: min(100vh - 80px, 100%);
    margin: 80px auto 80px auto;
}
.policy-content-inner h1 {
    width: 580px;
    font-size: 50px;
    color: white;
    margin: 50px auto;
}
.policy-content-inner h2 {
    width: 75%;
    text-align: left;
    font-size: 30px;
    color: white;
    margin: 30px auto 0 auto;
}
.policy-content-inner p {
    width: 75%;
    text-align: left;
    margin: 10px auto 30px auto;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    color: white;
}
.policy-content-inner a {
    color: #ff7518;
}

.formInput {
    width: 120px;
    height: 30px;
    margin: 2px;
    padding: 2px;
}
.formSelector {
    width: 120px;
    height: 30px;
    margin: 2px;
    padding: 2px;
}
#lifespan {
    margin-bottom: 40px;
}
.listing {
    width: 580px;
    font-size: 50px;
    color: #ffffff;
    margin: 20px auto 10px auto;
}

/* Responsive website */
@media (max-width: 1665px){
    .checkbtn{
        display: block;
    }
    .navlist{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav .navlist .navitem{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav .navlist .navitem .navanchor{
        font-size: 20px;
    }
    .navanchor:hover,.navanchor.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ .navlist{
        left: 0;
    }
}
@media(max-width: 760px) {
    .hero-content {
        width: 100%;
    }
    .hero-content-inner h1 {
        width: 90%;
    }
    .hero-content-inner p {
        width: 90%;
    }
    .weather-content {
        width: 100%;
    }
    .weather-content-inner h1 {
        width: 90%;
    }
    .weather-content-inner p {
        width: 90%;
    }
}
@media (max-width: 640px){
    .search-content-inner h1 {
        inline-size: min-content;
        width: 90%;
        padding: 12px 0;
    }
    .search-content-inner h2 {
        inline-size: min-content;
        width: 90%;
        font-size: 30px;
        margin: 0 auto;
        padding: 12px 0;
    }
    .search-content-inner p {
        inline-size: min-content;
        width: 70vw;
        margin: 10px auto;
    }
    .search-content-inner a {
        inline-size: min-content;
        margin: 10px 0;
    }
    .policy-content-inner h1 {
        inline-size: min-content;
        width: 90%;
        padding: 12px 0;
    }
    .policy-content-inner h2 {
        inline-size: min-content;
        width: 90%;
        font-size: 30px;
        margin: 0 auto;
        padding: 12px 0;
    }
    .policy-content-inner p {
        inline-size: min-content;
        width: 70vw;
        margin: 10px auto;
    }
    .policy-content-inner a {
        inline-size: min-content;
        margin: 10px 0;
    }
}
@media (max-width: 610px){
    #copyright {
        inline-size: min-content;
        width: 90%;
        margin: 0 auto;
    }
}
@media (max-width: 580px){
    .hero-content-inner .listing {
        width: 90%;
    }
    .hero-content-inner li {
        width: 90%;
    }
    .hero-content-inner a {
        inline-size: min-content;
        margin: auto;
    }
    .hero-content-inner h2 {
        width: 300px;
        font-size: 50px;
    }
}
@media (max-width: 530px){
    #footertext {
        inline-size: min-content;
        width: 90%;
    }
    .socials .socialIcon {
        padding: 20px 10px;
    }
    .policy-content-inner h1 {
        width: 300px;
        font-size: 40px;
    }
    .policy-content-inner h2 {
        width: 300px;
        font-size: 40px;
    }
    .policy-content-inner p {
        width: 300px;
    }
    .policy-content-inner .listing {
        width: 90%;
    }
    .policy-content-inner li {
        width: 90%;
    }
    .policy-content-inner a {
        inline-size: min-content;
        margin: auto;
    }
    .policy-content-inner h2 {
        width: 300px;
        font-size: 50px;
    }
}
@media (max-width: 500px) {
    .policy-content {
        width: 100%;
    }
    .policy-content-inner h1 {
        width: 90%;
        font-size: 26px;
    }
    .policy-content-inner h2 {
        width: 90%;
        font-size: 26px;
    }
    .policy-content-inner p {
        width: 90%;
        font-size: 20px;
    }
    .policy-content-inner .listing {
        width: 90%;
    }
    .policy-content-inner li {
        width: 90%;
    }
    .policy-content-inner a {
        inline-size: min-content;
        margin: auto;
    }
}
@media (max-width: 442px){
    .logoA {
        color: white;
        font-size: 35px;
        line-height: 80px;
        padding: 0 30px;
        margin-left: 5px;
        font-weight: bold;
    }
    .hero-content-inner h1 {
        width: 300px;
        font-size: 40px;
    }
    .hero-content-inner h2 {
        width: 300px;
        font-size: 40px;
    }
    .hero-content-inner p {
        width: 300px;
    }
    .policy-content-inner p {
        width: 90%;
        font-size: 15px;
    }
    .cookiewrapper {
        width: 100%;
        inline-size: min-content;
        margin: 0 auto;
        padding: 12px 0;
    }
    .cookiewrapper2 {
        max-width: 250px;
    }
    .cookiewrapper img {
        max-width: 70px;
    }
    .cookiecontent {
        inline-size: min-content;
        width: 90%;
        margin: 0 auto;
    }
}
@media(max-width: 354px) {
    .hero-content-inner h1 {
        inline-size: min-content;
        width: 90%;
        font-size: 30px;
        margin: 0 auto;
        padding: 12px 0;
    }
    .hero-content-inner h2 {
        inline-size: min-content;
        width: 90%;
        font-size: 30px;
        margin: 0 auto;
        padding: 12px 0;
    }
    .hero-content-inner p {
        inline-size: min-content;
        width: 70vw;
        font-size: 26px;
        margin: 10px auto;
    }
    .hero-content-inner a {
        inline-size: min-content;
        font-size: 26px;
        margin: 10px 0;
    }
    .hero-content-inner p {
        font-size: 10px;
    }
    .linkedParagraph {
        margin: 10px 0;
        padding: 12px 0;
    }
}
@media (max-width: 312px){
    .logoA {
        display: none;
    }
    .checkbtn{
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
    }
    .search-content-inner h1 {
        font-size: 36px;
    }
    .search-content-inner a {
        font-size: 20px;
    }
}
@media (max-width: 255px){
    .cookiewrapper {
        width: 50vw;
        inline-size: min-content;
        margin: 0 auto;
        padding: 12px 0;
    }
    .cookiewrapper2 {
        max-width: 200px;
    }
    .cookiewrapper img {
        max-width: 50px;
    }
    .cookiecontent {
        inline-size: min-content;
        width: 90%;
        margin: 0 auto;
    }
}
@media (max-width: 146px){
    .search-content-inner h1 {
        font-size: 26px;
    }
    .search-content-inner a {
        font-size: 16px;
    }
}

@media(max-height: 560px) {
    .weather-content-inner {
        width: 100%;
        height: 100%;
        margin: 0 auto 80px auto;
        overflow: hidden;
        overflow-y: scroll;
    }
}
@media(max-height: 400px) {
    body{
        padding-top: 50px;
    }
    .navlist {
        top: 50px;
    }
    nav .navlist .navitem{
        line-height: 50px;
    }
    .hero-image {
        height: calc(100vh - 50px);
    }
    .hero-content {
        height: calc(100vh - 50px);
        margin: 0 auto 50px auto;
        padding: 10px 10px;
        align-items: normal;
    }
    .hero-content-inner {
        margin: 0;
    }
    .hero-content-inner h1 {
        inline-size: min-content;
        width: 80%;
        font-size: 30px;
        padding: 1px;
        margin: 5px auto;
        text-align: center;
    }
    .hero-content-inner h2 {
        inline-size: min-content;
        width: 80%;
        font-size: 30px;
        padding: 1px;
        margin: 5px auto;
        text-align: center;
    }
    .hero-content-inner p {
        inline-size: min-content;
        width: 80%;
        text-align: center;
        margin: 10px auto;
    }
    .hero-content-inner a {
        font-size: 30px;
    }
    .hero-content-inner button {
        width: 120px;
        height: 30px;
        margin-top: 20px;
        border-radius: 40px;
        font-size: 15px;
    }

    nav{
        height: 50px;
    }
    .fixed-navbar {
        top: 0; bottom: 50px; left: 0; right: 0;
    }
    .logoA {
        line-height: 50px;
        margin-left: 50px;
        padding: 2px 10px;
    }
    nav .navlist .navitem{
        line-height: 50px;
    }
    .checkbtn{
        line-height: 50px;
        display: block;
    }
    .weather-content {
        height: calc(100vh - 50px);
        margin: 0 auto 50px auto;
        padding: 10px 10px;
        align-items: normal;
    }
    .weather-content-inner {
        margin: 0;
    }
    .weather-content-inner h1 {
        inline-size: min-content;
        width: 80%;
        font-size: 30px;
        padding: 1px;
        margin: 5px auto;
        text-align: center;
    }
    .weather-content-inner p {
        inline-size: min-content;
        width: 80%;
        text-align: center;
        margin: 10px auto;
    }
}
